@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Montserrat&display=swap");

#root > div {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root main {
  flex: 1;
}

header nav[aria-label="Hovednavigasjon"] li:not(:last-child) a[aria-current="page"] {
  color: #B30000;
  border-bottom: 2px solid #B30000;
}

header nav[aria-label="Hovednavigasjon"] li:last-child a[aria-current="page"] {
  background-color: #ffffff;
  color: #B30000;
}

@media (max-width: 650px) {
  header nav[aria-label="Hovednavigasjon"] li:not(:last-child) a[aria-current="page"] {
    border-bottom: none;
  }
}
